@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .main-info{
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
    gap: 28px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-info {
    background-color: #1F2937;
    height: 250px;
    padding-top: 110px;
    padding-bottom: 110px;

    display: flex;
}

.right-side {
    flex: 1;
}

.img-placeholder {
    background-color: #e5e7eb6c;
    color: #E5E7EB;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 34px;
    margin: 8px 0;
    
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}